<div style="margin-left:15%">
     <div style="margin-right:15%">
        <div style="margin-bottom:1.5%">
            <font size="4">
                <p>A near miss is a potential hazard or incident that has not resulted in any personal injury. It is worth reporting because it could save you or your coworker from injury or death.</p>
                <ul style="line-height:200%">
                    <li>Unsafe working conditions</li>
                    <li>Unsafe employee work habits</li>
                    <li>Improper use of equipment or use of malfunctioning equipment</li>
                    <li>Complacency or lack of concern</li>
                </ul>
                <p>All have the potential to cause work related injuries and should be addressed and corrected immediately. By coming this far you have proved you are committed to preventing personal injuries, protecting your coworker, and have observed/or been a part of an unsafe act, condition or potential hazard.</p>
                <p>Please go one step further and complete the below Good Safety Catch/Near Miss Form. Submission of this form WILL prevent future occurrences.</p>
            </font>
        </div>
    </div>
</div>