<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Good Safety Catch</title>
    <link href="/Content/css?v=pQb43X_HANgWhadx9TpMXxhyGqhKH_iO60Lr3M95Rcs1" rel="stylesheet">

    <script type="text/javascript" async="" src="https://www.gstatic.com/recaptcha/api2/r20170606154550/recaptcha__en.js"></script>
    <script src="/bundles/modernizr?v=inCVuEFe6J4Q07A0AcRsbJic_UE5MwpRMNGcOtk94TE1"></script>

    <script src="https://www.google.com/recaptcha/api.js"></script>

    <script type="text/javascript">
        var appInsights=window.appInsights||function(config){
            function r(config){t[config]=function(){var i=arguments;t.queue.push(function(){t[config].apply(t,i)})}}var t={config:config},u=document,e=window,o="script",s=u.createElement(o),i,f;for(s.src=config.url||"//az416426.vo.msecnd.net/scripts/a/ai.0.js",u.getElementsByTagName(o)[0].parentNode.appendChild(s),t.cookie=u.cookie,t.queue=[],i=["Event","Exception","Metric","PageView","Trace"];i.length;)r("track"+i.pop());return r("setAuthenticatedUserContext"),r("clearAuthenticatedUserContext"),config.disableExceptionTracking||(i="onerror",r("_"+i),f=e[i],e[i]=function(config,r,u,e,o){var s=f&&f(config,r,u,e,o);return s!==!0&&t["_"+i](config,r,u,e,o),s}),t
        }({
            instrumentationKey:"09daaf31-7d79-4815-bbc9-a34c491069fe"
        });

        window.appInsights=appInsights;
        appInsights.trackPageView();
    </script>
    <script src="//az416426.vo.msecnd.net/scripts/a/ai.0.js"></script>
    <link rel="shortcut icon" type="image/png" href="images/safety-helmet.png?v=2">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

</head>